//common typography styles
body{
  font-family: 'Karla',sans-serif;
  font-size: var(--default-font-size);
  font-weight: 400;
  line-height: 1.5;
}
//heading styles
.heading{
  font-size: inherit;
  font-weight: 700;
  &-main{
    font-size: 2.33rem;
    color: rgba(var(--color-primary),1);
    margin-bottom: 2rem;
  }

  &-sub{
    font-size: 1.75rem;
    color: rgba(var(--color-secondary), 1);
    margin-bottom: 1rem;
  }

  &-tertiary{
    font-size: 1.75rem;
    color: #fff;
    margin-bottom: 1rem;
  }
}

//common para style
.para{
  font-size: inherit;
  font-weight: inherit;
}

//feature section text style
.text {
  font-size: 1.35rem;
  font-weight: inherit;
}
